.background_image_list li {
    list-style: none;
    display:inline-block;
    margin:5px;
    cursor: pointer;
}


.background_image_thumb:hover {
    border-color: green;
    border-style: solid;
    border-width: 2px;
}

.selected {
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
}
.unselected {
    border-width: 2px;
    border-color: orange;
    border-radius: 4px;
    border-style: solid;
}

//backgrounds

body.white {
    background-image: url('/images/background/white.jpg');
}

body.bamboo_atlas {
    background-image: url('/images/background/bamboo_atlas.jpg');
}

body.carpet_loop {
    background-image: url('/images/background/carpet_loop.jpg');
}

body.ceramic_herringbone {
    background-image: url('/images/background/ceramic_herringbone.jpg');
}

body.ceramic_triangle {
    background-image: url('/images/background/ceramic_triangle.jpg');
}

body.ground_grass_field {
    background-image: url('/images/background/ground_grass_field.jpg');
}

body.ice {
    background-image: url('/images/background/ice.jpg');
}

body.marble_whitened {
    background-image: url('/images/background/marble_whitened.jpg');
}

body.wood_flooring_ash_brick_bond {
    background-image: url('/images/background/wood_flooring_ash_brick_bond.jpg');
}

