
.back_to_previous_page button {
    padding : 1vw;

    margin: 1vw;

    border-radius: 12px;
    -webkit-border-radius : 12px;
    -moz-border-radius : 12px;
}

.huge_rounded button {
    padding : 0.1vw;

    margin: 0.5vw;

    border-radius: 12px;
    -webkit-border-radius : 12px;
    -moz-border-radius : 12px;
}

.big_page_button {
    width : 250px;
    height: 100px;

    color: white;

    background-position-x: -100px;
    background-position-y: -100px;
}

.very_small_rounded button {
    padding : 0.1vw;

    margin: 0.5vw;

    border-radius: 5px;
    -webkit-border-radius : 5px;
    -moz-border-radius : 5px;
}

.small_rounded button {
    padding : 0.1vw;

    margin: 0.5vw;

    border-radius: 12px;
    -webkit-border-radius : 12px;
    -moz-border-radius : 12px;
}

.v_1 {
    background-position-x: 0px;
    background-position-y: 0px;
}

.v_2 {
    background-position-x: 0px;
    background-position-y: 70px;
}

.v_3 {
    background-position-x: 70px;
    background-position-y: 0px;
}

.v_4 {
    background-position-x: 70px;
    background-position-y: 70px;
}

.v_5 {
    background-position-x: 140px;
    background-position-y: 0px;
}

.v_6 {

    background-position-x: 140px;
    background-position-y: 70px;
}

.v_7 {
    background-position-x: 140px;
    background-position-y: 140px;
}


.very_small_page_button {
    width : 70px;
    height: 70px;

    color: white;
}

.small_page_button {
    width : 130px;
    height: 80px;

    color: white;

    background-position-x: -100px;
    background-position-y: -100px;
}

.small_placeholder {
    display: inline-block;

    min-width : 130px;
    min-height: 80px;

    padding : 0.8vw;
    margin: 0.8vw;
}

.italian_language_button
{
    width : 200px;
    height: 100px;

    background-image: url('/images/background/italian_button_background.jpg');
}

.english_language_button 
{
    width : 200px;
    height: 100px;

    background-image: url('/images/background/english_button_background.jpg');
}